/* eslint-disable  */
/* // export const styles = {
// }; */


.CreateKitchenSection {
    border: 2px solid #dad6d5;
    border-radius: 6px;
}
.HeaderSection {
    border-bottom: 2px solid #dad6d5;
    min-height: 75px;
    padding: 10px 25px 20px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.HeaderRightSide {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.HeaderSectionThird  {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #dad6d5;
    min-height: 65px;
    padding: 0 25px;
    background-color: #dad6d5;
}
.FooterSection {
    border-top: 2px solid #dad6d5;
    min-height: 65px;
    padding: 12px 25px;
    display: grid;
    height: 100%;
    align-items: center;

}
.EditButton.RedLink {
    color: #802f2d;
    font-weight: 700;
    margin-left: 30px;
}
.HeaderLeftSide .EditButton {
    font-weight: 700;
    cursor: pointer;
}
.FooterSection .MuiTypography-body1 b {
color: #802f2d;
}
.VisualizerHeading {
    margin-top: 50px;
    margin-bottom: 40px;
}
.CabinetColorSection, .FlooringStyleSection {
    display: flex;
    align-items: center;
}
.CabinetColorSection {
    margin-right: 30px;
}
.CommonCircle ul li {
    list-style: none;
    margin-left: 8px;
}
.CommonCircle ul {
    display: flex;
    padding: 0;
    margin-left: 20px;
}
.CommonCircle ul li a {
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 100%;
    transition: all 0.5s ease-in-out;
    transform: scale(1);
    cursor: pointer;
    position: relative;
}
.CommonCircle ul li a:hover,
.CommonCircle ul li a.Active {
    transition: all 0.5s ease-in-out;
    transform: scale(1.2);
}
.VisualizerHeading h6 {
    margin-top: 10px;
    font-weight: 800;
    letter-spacing: 1.5px;
}
.CabinetColorSection h6, .FlooringStyleSection h6, .HeaderCenterSide h6 {
    font-weight: 600;
    text-transform: uppercase;
}
/* .CommonCircle ul li a:hover span, */
.CommonCircle ul li a.Active span {
    opacity: 1;
    transition: all 0.5s ease-in-out;
}
.CommonCircle ul li a span {
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 0;
    font-size: 10px;
    transform: translate(-50%, 20px);
    white-space: nowrap;
}
.MainKitchenSection img.KitchenImage {
    width: 100%;
}
.MainKitchenSection{
    display: flex;
    position: relative;
}
.CommonIconBox {
    position: absolute;
    cursor: pointer;
    z-index: 888;
    background-image: url(assets/images/VisualizerIcon.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 36px;
    height: 36px;
}
.CommonIconBoxLast {
    position: absolute;
    cursor: pointer;
    z-index: 888;
}
.Icon {
    display: block;
    width: 36px;
    height: 36px;
}
.CommonIconBox.NorthstarIconFirst {
    top: 40%;
    left: 28%;
}
.CommonIconBox.NorthstarIconSecond {
    top: 70%;
    left: 28%;
}
.CommonIconBox.NorthstarIconThird {
    top: 24%;
    left: 49%;
}
.CommonIconBox.NorthstarIconFourth {
    top: 56%;
    left: 62%;
}
.CommonIconBox.NorthstarIconFifth {
    top: 30%;
    right: 17%;
}
.CommonIconBoxLast.IconLast {
    bottom: 13%;
    right: 8%;
}

.MuiTooltip-tooltip {
    color: #54595f;
    padding: 10px 10px;
    font-size: 12px;
    max-width: 250px;
    line-height: 16px;
    border-radius: 4px;
    background-color:  rgba(255, 255, 255, 0.8);
    font-family: Poppins', 'sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0!important;
  }
  .CustomizeBox {
    position: absolute;
    width: 410px;
    color: #54595f;
    padding: 10px 10px;
    font-size: 12px;
    max-width: 250px;
    line-height: 16px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.8);
    font-weight: 700;
    text-transform: uppercase;
    right: 22px;
    top: 15px;
    z-index: -88;
    text-align: center;
}
.ModalHeading {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    width: 100%;
}
.ModalHeading img {
    margin-right: 12px;
    width: 36px;
    height: 36px;
}
.ModalHeading .MuiTypography-body2 {
    color: #00a8ff;
    margin-left: 8px;
}   
.ApplianceBoxLeft {
    width: 40%;
}
.ApplianceBoxRight {
    padding: 40px 20px;
    width: 60%;
}
.ModalInfo {
    text-align: center;
    padding: 15px 15px;
    width: calc( 50% - 30px);
}
.ModalContentBox {
    display: flex;
    flex-wrap: wrap;
    height: 450px;
    overflow-x: auto;
    align-items: flex-start;
}
.ModalContentBoxThird {
    height: 450px;
    overflow-x: auto;
}
.ModalContentBoxThird .ModalHeading {
    margin-bottom: 10px;
}
.ModalHeading.LoopBox h6 {
text-transform: uppercase;
}
body::-webkit-scrollbar,
.ModalContentBox::-webkit-scrollbar,
.ModalContentBoxThird::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track,
  .ModalContentBox::-webkit-scrollbar-track,
  .ModalContentBoxThird::-webkit-scrollbar-track {
    background: #f0f0f0;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb,
  .ModalContentBox::-webkit-scrollbar-thumb,
  .ModalContentBoxThird::-webkit-scrollbar-thumb {
    background-color: #595959;    /* color of the scroll thumb */
    border-radius: 0px;       /* roundness of the scroll thumb */
    border: 3px solid #f0f0f0;  /* creates padding around scroll thumb */
  }
  .ApplianceName {
    max-width: 450px;
    margin-top: 25px;
}
.ApplianceName h4 {
    font-weight: 600;
    text-transform: uppercase;
}
.ApplianceName .MuiTypography-body2 {
    font-size: 10px;
    font-weight: 900;
    color: #00a8ff;
}

.ApplianceName .MuiTypography-body1 {
    font-weight: 600;
}
.ModalPricing {
    margin-bottom: 20px;
    padding-left: 48px;
}
.ModalPricing h3 {
    font-weight: 600;
    color: #00a8ff;
}
.ModalPricing .MuiTypography-body1 {
    font-weight: 600;
}
.EditButton {
    color: #00a8ff;
    font-weight: 600;
    font-size: 14px;
    margin-left: 5px;
}
.ModalContentBoxSecond .CabinetColors {
    margin-left: 18px;
}
.ModalContentBoxSecond .CommonCircle ul li {
    margin-left: 12px;
}
.ModalDetailInfo {
    margin-left: 5px;
}
.CommonButton {

}
.MuiButtonBase-root {
    background-color: #802f2d;
    font-weight: 600;
}
.MuiButtonBase-root:hover{
    background-color:#00a8ff;
}
.ViewButton {
    min-height: 60px;
    max-width: 220px;
    padding-left: 50px;
    padding-right: 50px;
    margin-right: 40px;
}
.FooterSectionSecond {
    display: flex;
    justify-content: center;
}
/* .FooterLeftSide {
    padding-left: 50px;
} */
.ProductApplianceBox ul {
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 40px;
}
.ProductApplianceBox ul li:first-child {
    border-left: none;
}
.ProductApplianceBox ul li {
    list-style: none;
    border-left: 1px solid #dad6d5;
    padding: 5px 20px;
    width: calc(20% - 41px);
    text-align: center;
    cursor: pointer;
}
.ProductApplianceBox ul li:hover p {
    color: #802f2d;
    
}
.RedColor {
    color: #802f2d;
}
.PricingBox {
    background: #fbf9f9;
    border-radius: 6px;
    /* margin-top: 50px; */
    /* margin-left: 25px;
    margin-right: 25px; */
}
.SkyBlueBg {
    background-color:#74d2e7;
}
.PricingHeaderBox {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    align-items: center;
    border-radius: 6px 6px 0px 0px;
}
.PricingHeaderBox p {
    color: #fff;
    text-transform: uppercase;
}
.PricingContentBox ul li {
    list-style: none;
}
.PricingContentBox ul {
    padding: 0;
    margin: 0;
}
.PricingContentBox ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0px 15px 0px;
}
.PricingContentBox {
    padding: 15px 15px;
}
.ProductInfo {
    width: calc( 100% - 100px);
}
.ProductInfo .EditButton {
    margin-left: 0px;
}
.ProductInfo .MuiTypography-body2,
.ProductInfo a {
font-weight: 500;
}
.PricingFooterBox {
    padding: 5px 15px 15px 15px;
}
.PricingFooterBox.SkyBlueColor .MuiTypography-root,
.PricingFooterBox.RedColor .MuiTypography-root {
 
    font-weight: 600;
}
.PricingFooterBox.SkyBlueColor  .MuiTypography-root {
    color: #74d2e7;
}
.PricingFooterBox.RedColor  .MuiTypography-root {
    color: #802f2d;
}
.PricingFooterBox span{
    margin-right: 15px;
}
.CommonButton.EditBtn {
    height: 30px;
    background-color: #00a8ff;
}
.CommonButton.EditBtn:hover{
    background-color: #802f2d;
}
.CommonButton.AddBtn {
    height: 30px;
    background-color: #c92129;
}
.CommonButton.AddBtn:hover{
    background-color: #00a8ff;
}
.WaterBlueBg {
    background-color: #00a8ff;
}
.PricingContainerBox {
    margin-top: 20px;
    margin-bottom: 60px;
}
.RedBg {
    background-color: #802f2d;
}
.PricingTotalInfo .MuiTypography-root {
    color: #fff;
}
.PricingTotalInfo {
    padding: 15px 20px;
    border-radius: 4px;
}
.PricingTotalInfo h3 {
    font-weight: 600;
}

@media only screen and (min-width: 768px) and (max-width: 8000px) {

}

@media only screen and (min-width: 2501px) and (max-width: 8000px) {
}
@media only screen and (min-width: 1920px) and (max-width: 2500px) {
}
@media only screen and (min-width: 1367px) and (max-width: 1919px) {
}
@media only screen and (min-width: 922px) and (max-width: 1155px) {

}
@media only screen and (min-width: 500px) and (max-width: 921px) {

}
@media only screen and (min-width: 1281px) and (max-width: 1366px) {
}
@media only screen and (min-width: 1025px) and (max-width: 1500px) {

}
@media only screen and (min-width: 1025px) and (max-width: 1280px) {

}
@media only screen and (min-width: 922px) and (max-width: 1199px) {

}
@media only screen and (min-width: 320px) and (max-width: 1199px) {
}
@media only screen and (min-width: 1025px) and (max-width: 1160px) {
}
@media only screen and (min-width: 1001px) and (max-width: 1024px) {

}
@media only screen and (min-width: 801px) and (max-width:1000px) {

}
@media only screen and (min-width: 769px) and (max-width:800px) {

}
@media only screen and (min-width: 701px) and (max-width: 768px) {

}
@media only screen and (min-width: 667px) and (max-width: 700px) {
}
@media only screen and (min-width: 481px) and (max-width: 666px) {
}
@media only screen and (min-width: 415px) and (max-width: 480px) {
}
@media only screen and (min-width: 376px) and (max-width: 414px) {
}
@media only screen and (min-width: 321px) and (max-width: 375px) {
}
@media only screen and (max-width: 320px) {
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .HeaderSection {
        display: grid;
        justify-content: center;
    }    
    .HeaderRightSide {
        display: grid;
        justify-content: center;
    }  
    .CabinetColorSection, .FlooringStyleSection {
        display: grid;
        justify-content: center;
    }
    .CabinetColorSection {
        margin-right: 0px;
    }
    .CabinetColorSection h6, .FlooringStyleSection h6, .HeaderCenterSide h6 {
        text-align: center;
    }
    .HeaderLeftSide {
        margin: 20px auto 20px;
    }
    .CommonCircle ul {
        margin-left: 0px;
        padding: 0;
        justify-content: center;
    }
    .CommonCircle ul li:first-child{
        margin-left: 0px;
    }
    .FlooringStyleSection {
        margin-top: 30px;
    }
    .MainKitchenSection {
        display: grid;
    }
    .ApplianceBoxLeft {
        width: 100%;
    }
    .ApplianceName {
        max-width: 100%;
    }
    .ApplianceBoxRight {
        width: calc(100% - 40px);
    }
    max-img {
        width: 100%;
        height: auto;
    }
    .FooterSectionSecond {
        display: grid;
    }
    .ViewButton {
        margin-right: 0px;
    }
    .FooterLeftSide {
        margin: 0px auto 15px;
    }
    .ProductApplianceBox ul li {
        width: calc(50% - 41px);
        margin-bottom: 10px;
    }
    .CommonIconBox {
        width: 26px;
        height: 26px;
        background-size: 100%;
    }
    .Icon {
        width: 26px;
        height: 26px;
    }
    .CommonIconBoxLast img {
        width: 26px;
        height: 26px;
    }
    .CustomizeBox {
        right: 15px;
    }
}